#display-window-wrapper{
    width:90%;
    height:100%;
    margin:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border:1px solid black;
    border-radius:25px;
    overflow:hidden;
}

.resume-display-window{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    font-size: 1.5rem;
}

.display-window-header-wrapper{
    width:100%;
    height:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:1rem;
    background:rgba(var(--primary-accent-rgb), .4);
}

@media (max-width: 1024px){
    #display-window-wrapper{
    width:90%;
    height:100%;
    margin:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    border-radius:25px;
    overflow:hidden;
}

.resume-display-window{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    font-size: 1.5rem;
}

.display-window-header-wrapper{
    width:100%;
    height:3%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:1rem;
    background:rgba(var(--primary-accent-rgb), .4);
}
}
