:root {
  --max-width: 1100px;
  --border-radius: 12px;

  /* Color Palette */
  --primary-color: rgb(255, 245, 251);
  --primary-color-rgb: 255, 245, 251;

  --secondary-color: rgb(139, 147, 255);
  --secondary-color-rgb: 139, 147, 255;

  --secondary-accent-color: rgb(87, 85, 254);
  --secondary-accent-color-rgb: 87, 85, 254;

  --primary-accent: rgb(255, 113, 205);
  --primary-accent-rgb: 255, 113, 205;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--secondary-accent-color));
  background: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}
section {
  width: 100%;
  height:fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--secondary-accent-color);
  padding-block: 3rem;
  background: var(--primary-color);
}

.section-header {
  color: var(--secondary-accent-color);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  margin-block: 2%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#body-content-wrapper {
  display: grid;
  min-height: 100vh;
  background: #8b93ff;
  grid-template-columns: 10rem 1fr;
}

@media (max-width: 1024px) {
  #body-content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background: #8b93ff;
    grid-template-columns: 10rem 1fr;
  }
}
