#bio-container {
  color: black;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#bio-text-wrapper {
  width: 50%;
}

#bio-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

#image-wrapper {
  width: 50%;
}

#about-me-image {
  width: 100%;
}

#contact-button-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

#contact-button {
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  background: var(--primary-accent);
  color: white;
}

/* Site Header Styling */

#hero-wrapper {
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(var(--primary-color-rgb), 1);
}

#hero-text-wrapper {
  display: flex;
  width: fit-content;
}

.hero-text {
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(
    to right,
    black,
    black,
    black,
    rgb(var(--secondary-color-rgb)),
    rgb(var(--secondary-accent-color-rgb)),
    rgb(var(--primary-accent-rgb)),
    black,
    black,
    black
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 400%;
  background-position: -100%;

  animation: animatedText 8s infinite alternate-reverse;
}

@keyframes animatedText {
  to {
    background-position: 100%;
  }
}

.material-symbols-outlined {
  height: fit-content;
  width: 12rem;
  font-size: 10rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  #bio-container {
    color: black;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  #bio-text-wrapper {
    width: 80%;
  }
  #hero-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-bottom: 2rem;
    background: rgba(var(--primary-color-rgb), 1);
  }
  #hero-text-wrapper {
    display: flex;
    width: fit-content;
    height: fit-content;
  }

  .hero-text {
    text-align: center;
    color: transparent;
    font-size: 6svw;
    font-weight: 800;
    background: linear-gradient(
      to right,
      black,
      black,
      black,
      rgb(var(--secondary-color-rgb)),
      rgb(var(--secondary-accent-color-rgb)),
      rgb(var(--primary-accent-rgb)),
      black,
      black,
      black
    );
    -webkit-background-clip: text;
    background-clip: text;

    background-size: 400%;
    background-position: -100%;

    animation: animatedText 12s infinite alternate-reverse;
  }

  #bio-text {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  #image-wrapper {
    width: 85%;
  }

  @keyframes animatedText {
    to {
      background-position: 100%;
    }
  }

  #hero-slash {
    height: 8.5rem;

    text-align: center;
  }
}
